.about-container{
    background-color: #373A40;
}

.top-padding{
   padding: 2em 0em;

}
.row-space-between{
    justify-content: space-between !important;
}

.about-title{
    flex: 1;
    margin-right: 5em;

}
.about-title h5{
    font-family: 'cabin', sans-serif;
    color: #ffffff;
    font-size: 3rem;
    text-align: left;
}

.about-description{
    flex: 1;
}

.about-description p{
    font-family: 'cabin', sans-serif;
    color: #ffffff;
    letter-spacing: 0.01rem;
    line-height: 1.5;
}