.get-in-touch-container{
    background: linear-gradient(to bottom, #80FF00, #006600);
    padding: 1em 0em;
}


.get-in-touch-main{
    display: flex;
    max-width: 1440px;
    margin: 2em auto;
    justify-content: space-around;
}

.get-in-touch-left{

}

.get-in-touch-left h1{
    font-family: 'cabin', sans-serif;
    font-weight: 700;
    color: #f2f2f2;
    font-size: 3rem;
    margin-bottom: 0em;
}

.get-in-touch-left h2{
    font-family: 'cabin', sans-serif;
    font-weight: 500;
    color: #f2f2f2;
    font-size: 2rem;
    margin-bottom: 0em;
}

.get-in-touch-left p{
    font-family: 'cabin', sans-serif;
    font-weight: 200;
    color: #f2f2f2;
    font-size: 1rem;
    margin-bottom: 0em;
}

.line{
    background-color: #f2f2f2;
    width: 2px;
    height: auto;
}
.get-in-touch-right{
    margin-top: 3em;
}

.get-in-touch-right p{
    font-family: 'cabin', sans-serif;
    font-weight: 200;
    color: #f2f2f2;
    font-size: 1rem;
    margin-bottom: 0em;
}