.home-container {
  position: relative;
}

.contact-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  gap: 0.7em;
  margin-top: 4em;
}

.contact-icon-div::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 102, 0, 0.7);
  z-index: -1;
  filter: blur(8px);
}

.contact-icon-div {
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
  border-radius: 1em 0em 0em 1em;
  padding: 0.5em;
  gap: 0.7em;
  background-color: rgb(0, 102, 0, 0.7);
}

.contact-icon-div p {
  color: #f2f2f2;
}

.contact-icon-div:hover {
  transform: translateX(-10px);
  transition: transform 0.2 ease-in-out;
}

.contact-icon {
  height: 1.3em;
  width: 1.3em;
  color: #f2f2f2;
}

/* Predefined - layouts */
.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: 0em auto;
}
/* Predefined - texts */
.heading {
  font-family: "cabin", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.subheading {
  font-family: "cabin", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;
}

.subheading__2 {
  font-family: "cabin", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.paragraph {
  font-family: "cabin", sans-serif;
  font-weight: 100;
  font-size: 1rem;
  margin: 0;
}

.tag-1 {
  font-family: "cabin", sans-serif;
  font-weight: 900;
  font-size: 0.9rem;
  color: #006600;
  margin: 0;
}

.tag__1 {
  font-family: "cabin", sans-serif;
  font-weight: 900;
  font-size: 0.9rem;
  color: #006600;
  margin: 0;
}

.tag__2 {
  font-family: "cabin", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  margin: 0;
}
/* Hero - Section 1 */
.hero {
  background: linear-gradient(to bottom, #80ff00, #006600);
  color: #fff;
  padding: 100px 0;
  text-align: left;
  margin: 2em auto;
  margin-top: 1em;
}

.hero-container {
  padding-left: 3em;
  margin: 0 auto;
}

.hero-title {
  font-size: 5rem;
  margin-bottom: 0;
  font-family: "cabin", sans-serif;
  letter-spacing: 0.3rem;
  display: flex;
  align-items: end;
}

.hero-text {
  font-family: "cabin", "sans-serif";
  letter-spacing: 0.3rem;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 0;
  line-height: 1.5;
}

/* Services - Section 2 */
.services-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 4em auto;
  max-width: 1440px;
}

.individual-service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  margin-right: 1em;
  background-color: rgba(55, 58, 64, 0.1);
  border-radius: 2em;
  border: 10px #373a40;
  border-width: 10px;
}

.service-icon {
  background-color: #006600;
  border-radius: 4em;
  height: 4em;
  width: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-title {
  text-align: center;
}

.service-title h4 {
  margin-bottom: 0;
  font-family: "cabin", sans-serif;
  font-size: 1.2rem;
}

.service-description {
}

.service-description p {
  margin-top: 0.3em;
  font-family: "cabin", sans-serif;
  color: #707070;
}

/* About Us - Section 3 */
.about-container {
  background-color: #373a40;
  padding: 5em 0em;
  color: #f2f2f2;
}
.about__container {
}

.about__image__container {
  flex: 2;
}

.about__text__container {
  flex: 2;
}

.about__text__container h5 {
  text-align: left;
}

.about__text__container p {
  text-align: left;
  letter-spacing: 0.1ch;
  line-height: 2ch;
}

.about__image__container img {
  max-width: 20em;
}

.about__button {
  display: flex;
  flex-direction: row;
  justify-self: left;
  max-width: 12em;
  font-family: "cabin", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  background-color: #000000;
  color: #ffffff;
  padding: 1em 1.5em;
  border-radius: 2em;
  gap: 1em;
  cursor: pointer;
  border: 0px;
  margin-top: 1em;
  left: 0;
}

.about__button:hover {
  background-color: #44464b;
}
/* Counter - Section - 4 */

.counter-container {
  padding: 4em 0em;
}


.counter-number {
  display: flex;
  font-family: "cabin", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin: 0em auto;
  color: #f2f2f2;
  left: 0;
}

.counter-title {
  font-family: "cabin", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  text-align: left;
  margin: 0em;
  color: #373a40;
  left: 0;
}


.counter__individual {
  margin-right: 2em;
  width: 20em;
  background-color: #006600;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3em;
  gap: 2em;
 

}

.counter__individual h4 {
  margin-top: 2em;
  color: #f2f2f2;
}


/* Our Partners - Section - 6 */
.partners__container {
  gap: 5em;
  margin: 4em auto;
}

.partners__right {
  flex: 3;
  margin-top: 2em;
  align-items: flex-start;
}
.partners__right__container {
  align-items: flex-start;
}

.partners__right img {
  margin-right: 4em;
}

.partners__left {
  flex: 1;
  margin-top: 2em;
}

.partners__left h4 {
  text-align: left;
  margin-bottom: 0em;
}

.partners__left p {
  text-align: left;
}

/* USP - Section 5 */
.usp-main {
  display: flex;
  margin: 1em auto;
  max-width: 1440px;
  justify-content: space-between;
}

.usp-cta {
  flex: 1;
}

.usp-cta h2 {
  font-family: "cabin", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  text-align: left;
  margin-bottom: 0;
  color: #006600;
}

.usp-cta p {
  font-family: "cabin", sans-serif;
  font-weight: 400;
  margin-botom: 0;
  font-size: 1.2rem;
  text-align: left;
  color: #707070;
}

.usp-button {
  display: flex;
  flex-direction: row;
  justify-self: left;
  font-family: "cabin", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  background-color: #000000;
  color: #ffffff;
  padding: 1em 1.5em;
  border-radius: 2em;
  gap: 1em;
  cursor: pointer;
  border: 0px;
}

.usp-button:hover {
  background-color: #373a40;
}

.image__stack__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  max-width: 1440px;
}

.image__stack__item {
  top: 7em;
  transition: all 0.3s ease-in-out;
  width: fit-content;
  width: 60%;
  position: absolute;
  margin-left: -8em;
  border-radius: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
  filter: blur(8px);
  -webkit-filter: blur(3px);
}

.image__stack__item.active {
  z-index: 2;
  filter: blur(0px) !important;
  -webkit-filter: blur(0px) !important;
}

.image__1{
  margin-left: -10em;
  margin-top: -2em;
}
.image__2 {
  margin-left: 0em;
}

.image__3 {
  margin-left: 10em;
  margin-top: 2em;
}

/* Products - Section 6 */
.products-container {
  margin-top: 3em;
}

.product {
  display: flex;
  flex-direction: column;
  padding: 2em;
  text-align: left;
  justify-content: left;
  align-items: flex-start;
}

.products-title h1 {
  font-family: "cabin", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.product h3 {
  font-family: "cabin", sans-serif;
  text-align: center;
  font-weight: 900;
  margin-bottom: 0.4em;
  letter-spacing: 0rem;
  font-size: 1.3rem;
}

.product p {
  color: #707070;
  font-size: 0.85rem;
}

/* Contact Us(Get in Touch) - Section 7 */
.get-in-touch-container {
  background: linear-gradient(to bottom, #80ff00, #006600);
  padding: 1em 0em;
}

.get-in-touch-main {
  display: flex;
  max-width: 1440px;
  margin: 1em auto;
  justify-content: space-around;
}

.get-in-touch-left {
}

.get-in-touch-left h1 {
  font-family: "cabin", sans-serif;
  font-weight: 700;
  color: #f2f2f2;
  font-size: 3rem;
  margin-bottom: 0em;
}

.get-in-touch-left h2 {
  font-family: "cabin", sans-serif;
  font-weight: 500;
  color: #f2f2f2;
  font-size: 2rem;
  margin-bottom: 0em;
}

.get-in-touch-left p {
  font-family: "cabin", sans-serif;
  font-weight: 200;
  color: #f2f2f2;
  font-size: 1rem;
  margin-bottom: 0em;
}

.line {
  background-color: #f2f2f2;
  width: 2px;
  height: auto;
}
.get-in-touch-right {
  color: #f2f2f2;
}

.get-in-touch-right p {
  color: #373a40;
  margin-bottom: 0em;
  text-align: left;
}

.email__submission__container {
  margin-top: 1em;
  position: relative;
}

.email__submission__container input {
  height: 4em;
  width: 25em;
  border-radius: 2em;
  border-width: 0em;
  background-color: #373a40;
}

.email__submission__container input::placeholder {
  font-family: "cabin", sans-serif;
  font-size: 0.8rem;
  font-weight: 900;
  padding-left: 1em;
  position: relative;
}

.email__submission__container button {
  height: 3.5em;
  width: 3.5em;
  border-radius: 3.5em;
  margin-right: 0.5em;
  position: absolute;
  right: 0;
  border-width: 0em;
  background-color: #006600;
}

.email__submission__button {
  color: white;
  height: 25px;
  width: 25px;
}

/* Testimonials-Section 8 */
.testimaonials-container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 3em auto;
}

.testimonials-heading {
  text-align: left;
}

.testimonials-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2em;
  margin-bottom: 2em;
}

/* Testimonaials - Card 1 */
.testimonials-card-1 {
  padding: 2em;
}

.testimonials-card-1-heading {
  text-align: left;
}

.testimonials-card-1-content {
  text-align: left;
}

.testimonials-card-1-content p {
  margin-top: 1.9em;
}

.testimonials-card-1-buttons {
  display: flex;
  text-align: left;
  padding: 0em 2em 2em 0em;
  gap: 0.4em;
}

.testimonials-card-1-buttons button {
  padding: 0.9em;
  border-width: 0px;
}

.testimonials-button-1 {
  background-color: #373a40;
}

.testimonials-button-2 {
  background-color: #006600;
}

.testimonials-arrow {
  color: #f2f2f2;
  width: 2em;
}

/* Testiminials - Card 2 */
.testimonials-card-2 {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2em;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.testimonials-card-2-content {
}

.testimonials-card-2-party {
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.testimonials-card-2-party-img {
  width: 70px;
  height: 70px;
}

.testimonials-card-2-party-img img {
  width: 70px;
  height: 70px;
  border-radius: 70px;
}

.testimonials-card-2-party-content {
  text-align: left;
}

/* Testiminials - Card 3 */
.testimonials-card-3 {
  background-color: #373a40;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2em;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.testimonials-card-3-content {
}

.testimonials-card-3-party {
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.testimonials-card-3-party-img {
  width: 70px;
  height: 70px;
}

.testimonials-card-3-party-img img {
  width: 70px;
  height: 70px;
  border-radius: 70px;
}

.testimonials-card-3-party-content {
  text-align: left;
}

/* Z-indexes of all components
    header - 10

*/
