.products-container {
  margin-top: 3em;
}

.product {
  display: flex;
  flex-direction: column;
  padding: 2em;
  text-align: left;
  justify-content: left;
  align-items: flex-start;
}

.products-title h1 {
  font-family: "cabin", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.product h3 {
  font-family: "cabin", sans-serif;
  text-align: center;
  font-weight: 900;
  margin-bottom: 0.4em;
  letter-spacing: 0rem;
  font-size: 1.3rem;
}

.product p{
    color: #707070;
    font-size: 0.85rem;
}
