.services-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1em auto;
    max-width: 1440px;

}

.individual-service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.service-icon{
    background-color: #006600;
    border-radius: 4em;
    height: 4em;
    width: 4em;
    display: flex;
    align-items: center;
    justify-content: center;

}


.service-title{
text-align: center;
}

.service-title h4{
    margin-bottom: 0;
    font-family: 'cabin', sans-serif;
    font-size: 1.2rem;
    
}

.service-description{

}

.service-description p{
    margin-top: 0.3em;
    font-family: 'cabin',sans-serif;
    color: #707070;
}
