.usp-main{
    display: flex;
    margin:1em auto;
    max-width: 1440px;
    justify-content: space-between;

}

.usp-cta{
    flex: 1;
}

.usp-cta h2{
    font-family: 'cabin', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    text-align: left;
    margin-bottom: 0;
}

.usp-cta p{
    font-family: 'cabin', sans-serif;
    font-weight: 400;
    margin-botom: 0;
    font-size: 1.2rem;
    text-align: left;
    color:#707070;
}

.usp-button{
    display: flex;
    flex-direction: row;
    justify-self: left;
    font-family: 'cabin', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0.1em;
    background-color: #000000;
    color: #ffffff;
    padding: 1em 1.5em;
    border-radius: 2em;
    gap: 1em;
    cursor: pointer;
    border: 0px;

}

.usp-button:hover{
    background-color: #373A40;
}

.usp-img{
    flex:1;
    display: block;
    width: 50%;
    margin-top: 3em;
}


